#bgvideo {
  position: fixed;
  object-fit: fill;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

body {
	  display: flex;
      align-items: center;
      justify-content: center;
}

.cluecode {
	opacity: 0.5;
	text-align: center;
}

.clue {
	margin-top: 5%;
	opacity: 0.7;
	text-align: center;
}

.cluediv {
	text-align: center;
	width: 30%;
	height: 20%;
}